#topLine {
    border-top: 5px solid rgb(231, 111, 13);
    margin-top: 0px;
    /* margin: 20px 0;
    border: 5px solid orange !important; */
    opacity: inherit;
}

li {
    list-style-type: none;
}

/* @media (min-width: 990px) and (max-width:2000px) {
    #searchBar {
        width: 800px;
    }
} */
#searchBar {
    width: 100%;
}

#padingLoginSignup {
    margin-right: 10px;
}

/* about */
.aboutPadd {
    padding-top: 50px;
    padding-left: 10px;
}

#footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
}

h1 {
    display: flex;
    align-items: center;
    padding: 30px;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/* developer */
.container-bottom-to-up {
    overflow: hidden;
    margin: 0px;
}

.top-to-bottom {
    animation: 2s top-to-bottom forwards;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: rgba(0, 0, 0, 0.8);
    text-align: left;
}

@keyframes top-to-bottom {
    from {
        transform: translateY(-48px);
    }

    to {
        transform: translateY(0);
    }
}

/* gamedeveloper */

.container-bottom-to-up {
    overflow: hidden;
    margin: 0px;
}

.bottom-to-up {
    animation: 3s bottom-to-up forwards;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: rgba(0, 0, 0, 0.8);
    text-align: left;
}

@keyframes bottom-to-up {
    from {
        transform: translateY(48px);
    }

    to {
        transform: translateX(0);
    }
}

/* mobiledeveloper */

.container-bottom-to-up {
    overflow: hidden;
    margin: 0px;
}

.top-to-bottom {
    animation: 4s top-to-bottom forwards;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: rgba(0, 0, 0, 0.8);
    text-align: left;
}

@keyframes top-to-bottom {
    from {
        transform: translateY(-48px);
    }

    to {
        transform: translateY(0);
    }
}

/* datasciebtist */
.container-bottom-to-up {
    overflow: hidden;
    margin: 0px;
}

.bottom-to-up {
    animation: 5s bottom-to-up forwards;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: rgba(0, 0, 0, 0.8);
    text-align: left;
}

@keyframes bottom-to-up {
    from {
        transform: translateY(48px);
    }

    to {
        transform: translateX(0);
    }
}

.top-to-bottom {
    color: rgb(236, 124, 34);
}

.bottom-to-up {
    color: rgb(236, 124, 34);
}

#writingAgoodQuestion {
    background-color: rgb(237, 245, 253);
    border: 2px solid rgb(146, 194, 242);
    text-align: left;
    margin-bottom: 20px;
}

#writingAgoodQuestionSize {
    font-size: larger;
}

#writingAgoodQuestionUl {
    list-style-type: disc;
}

#questionTitle {
    border: 2px solid rgb(227, 230, 232);
    margin-bottom: 20px;
    text-align: left;
}

#titleInput {
    width: 100%;
}

#detailsInput {
    width: 100%;
    height: 200px;
}

.allQues {
    text-align: left;
    border: 1px solid rgb(214, 217, 220);
    /* border-right: 1px solid rgb(214,217,220);
    border-bottom: 1px solid rgb(214,217,220); */
    padding: 15px;
}

.allQuesTag {
    background-color: rgb(214, 232, 250);
    padding: 4px;
    border-radius: 4px;
}

.vote {
    padding: 15px;
    text-align: right;
}

.alignRight {
    font-size: small;
}

.overFlow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis ('...');
    opacity: 0.85;
    /* text-overflow: inherit; */
    /* width: content; */
}

/* loginform */
.loginForm {
    width: fit-content;
    height: fit-content;
    margin-top: 100px;
}

/* signupform */
.signupForm {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}